body {
  background-color: #fff;
}
.layout {
  max-width: 1200px;
  min-width: 800px;
  margin: 0 auto;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  font-size: 50px;
  font-weight: bold;
}